@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/email-pattern.png")
}


#main-header{
    color: white;
    text-decoration: underline;
    font-size: 2em;
    font-family: fantasy;
}

.container{
    width: 500px;
    background-color: linen;
    border-radius: 15px;
    padding: 45px;
    box-shadow: 9px 9px 12px;
}


@media only screen and (max-width: 499px)
{
    .container {
        position: relative;
        right: 5px;
        width: 91%;
    }
}

#quiz{
    cursor: pointer;
}


.viewHighScore {
    position: absolute;
    border-radius: 9px;
    padding: 2px 7px;
    top: 13px;
    left: 26px;
}

.viewHighScore:hover {
    color: blue;
}

#intro{
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 14px;
}

.question{
    margin-bottom: 35px;
}

#answer-buttons{
    display: grid;
    margin: 3px;
  
}

/* li{
    list-style-type: upper-alpha;
    color: black;
} */


#start{
    padding: 43px 11px;
    font-size: x-large;
    background-color: #495057;
    
    
}

.choicesClass{
    background-color: #43bcb1eb;
    color: white;
    border-radius: 8px;
}



#nextBtn{
    background-color:#ff5200;
    color: white;
    width: 24%;
    padding: 7px;
    float: right;
}

.button{
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 11px;
    background-color: rgba(0, 0, 255, 0.568);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#correct{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#wrong{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.controls{
    padding-top: 35px;
}

#next-button{
    float: right;
}

#submit{
    color: white;
    background-color: #ff5200;
}

.hide{
    display: none;
    justify-content: center;
    align-content: center;
}

#timer{
    position: absolute;
    top: 22px;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 90VH; */
    
}

.HighscoreTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

#highscore {
    width: 500px;
    background-color: linen;
    border-radius: 15px;
    padding: 45px;
    box-shadow: 5px 10px 12px;
}

@media only screen and (max-width: 499px) {
    #highscore {
        width: 91%;
    }
    .goBackBtn {
        left: 7px;
    }
   
   
}

@media only screen and (max-width: 499px) {

    .goBackBtn {
        position: absolute;
        left: 7px;
    }
   
}

@media only screen and (max-width: 700px) {

    .viewHighScore {
       display: none;
    }
    #timer {
        position: absolute;
        top: 13px;

    }
    .container {
        margin-top: 60px;
        /* position: absolute;
        left: 0; */
    }
   
}




#userScore {
    text-align: center;
}

.goBackBtn {
    padding: 2px 7px;
    cursor: pointer;
    position: absolute;
    border-radius: 9px;
    top: 20px;
    left: 32px;
}

.goBackBtn:hover {
    color: blue;
}

#clear {
    cursor: pointer;
    position: absolute;
    padding: 2px 7px;
    border-radius: 10px;
    top: 20px;
    right: 32px;
}

#clear:hover {
    color: blue;
}

li {
    font-family: 'Poppins', sans-serif;
}

/* li:nth-child(even) {
    font-weight: bold;

  } */


li:nth-child(odd) {
    background-color: #95cc29;
  }
