@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./imgs/email-pattern.png")
}


#main-header{
    color: black;
    text-decoration: underline;
    font-size: 2em;
    font-family: fantasy;
}

.container{
    width: 500px;
    background-color: #e5e9ec;
    border-radius: 15px;
    padding: 45px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.viewHighScore {
    position: absolute;
    border-radius: 9px;
    padding: 2px 7px;
    top: 13px;
    left: 26px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

.viewHighScore:hover {
    color: blue;
}

#intro{
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
    font-size: 22px;
    color: black;
    margin-top: 14px;
}

.question{
    margin-bottom: 35px;
}

#answer-buttons{
    display: grid;
    margin: 3px;
  
}

#start{
    padding: 43px 11px;
    font-size: x-large;
    background-color: #e5e9ec;
    
    
}

.choicesClass{
    background-color: #43bcb1eb;
    color: white;
    border-radius: 8px;
}

.button{
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 11px;
    background-color: rgba(0, 0, 255, 0.568);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.choicesClass {
    font-size: 20px;
    padding: 2;
}


.controls{
    padding-top: 35px;
}

#next-button{
    float: right;
}

#submit{
    position: relative;
    top: 11px;
    color: white;
    background-color: black;
}

.hide{
    display: none;
    justify-content: center;
    align-content: center;
}

#timer{
    position: absolute;
    top: 22px;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.HighscoreTitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

#highscore {
    width: 500px;
    background-color: #e5e9ec;
    border-radius: 15px;
    padding: 45px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

#initials {
    width: 100%;
}

#userScore {
    text-align: center;
}

.goBackBtn {
    padding: 2px 7px;
    cursor: pointer;
    position: absolute;
    border-radius: 9px;
    top: 20px;
    left: 32px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

.goBackBtn:hover {
    color: blue;
}

#clear {
    cursor: pointer;
    position: absolute;
    padding: 2px 7px;
    border-radius: 10px;
    top: 20px;
    right: 9px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

#clear:hover {
    color: blue;
}

li {
    font-family: 'Poppins', sans-serif;
}

/* li:nth-child(even) {
    font-weight: bold;

  } */

li:nth-child(odd) {
    background-color: #49cbf2;
  }


/* Media Queries */
@media only screen and (min-width:500px) and (max-width: 852px) {

    .viewHighScore {
       display: none;
    }
    #timer {
        position: absolute;
        top: 13px;

    }
    .container {
        margin-top: 60px;
    }
}


@media only screen and (max-width: 499px)
{
    .container {
        width: 91%;
    }
    .choicesClass {
        font-size: 17px;
        line-break: anywhere;
        padding: 10px;
    }
    #highscore {
        width: 91%;
    }
    .goBackBtn {
        left: 7px;
    }
    .viewHighScore {
        position: absolute;
        left: 7px;
     }
     .goBackBtn {
        position: absolute;
        left: 7px;
    }
}

