*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/email-pattern.png")
}

#main{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-right: 12px;
    margin-bottom: 45px;
    border-bottom: 2px solid black;
    color: blueviolet;

}
#main-header{
    color: white;
    text-decoration: underline;
    font-size: 2em;
    font-family: fantasy;
}

.container{
    width: 500px;
    background-color: linen;
    border-radius: 15px;
    padding: 45px;
    box-shadow: 5px 10px;
}

#quiz{
    cursor: pointer;
}

#intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 14px;
}

.question{
    margin-bottom: 35px;
}

#answer-buttons{
    display: grid;
    margin: 3px;
  
}

li{
    list-style-type: upper-alpha;
    color: black;
}

#start{
    /* width: 31%; */
    padding: 43px 11px;
    font-size: x-large;
    background-color: #495057;
    
    
}

.choicesClass{
    background-color: #43bcb1eb;
    color: white;
    border-radius: 8px;
}



#nextBtn{
    background-color:#ff5200;
    color: white;
    width: 24%;
    padding: 7px;
    float: right;
}

.button{
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 11px;
    background-color: rgba(0, 0, 255, 0.568);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#correct{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#wrong{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.controls{
    padding-top: 35px;
}

#next-button{
    float: right;
}

#submit{
    color: white;
    background-color: #ff5200;
}

.hide{
    display: none;
    justify-content: center;
    align-content: center;
}

#timer{
    position: absolute;
    top: 22px;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 90VH; */
    
}